.eve-welcome-bean {
  opacity: 0.8;
  background-size: 300px;
  background-position-y: -30px;
  background-position-x: -15px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.eve-welcome-bean.horde {
  background-image: url("horde.png");
}

.eve-welcome-bean.capf {
  background-image: url("capf.png");
}

.eve-welcome-bean.innerhell {
  background-image: url("innerhell.png");
  background-size: 425px;
  background-position-y: -30px;
  background-position-x: 0px;
  opacity: 0.8;
}

.eve-welcome-bean.gsf {
  background-image: url("gsf.png");
}

.eve-welcome-bean.test {
  background-image: url("test.png");
}

.eve-welcome-bean.nc {
  background-image: url("nc.png");
  background-position-x: center;
}

.eve-welcome-bean.frat {
  background-image: url("frat.png");
  background-size: 230px;
  background-position-x: -30px;
  background-position-y: -50px;
  opacity: 0.6;
}

.eve-welcome-bean.lazerhawks {
  background-image: url("lazerhawks.png");
  background-size: 450px;
  background-position: center;
}

.eve-welcome-bean.holecontrol {
  background-image: url("holecontrol.png");
  background-size: 300px;
  background-position-x: 10px;
  background-position-y: -30px;
  opacity: 0.5;
}

.eve-welcome-bean.hardknocks {
  background-image: url("hardknocks.png");
  background-size: 200px;
  background-position-x: 10px;
  background-position-y: 10px;
}

.eve-welcome-bean.ccp {
  background-image: url("ccp.png");
}

.eve-welcome-bean.bbz {
  background-image: url("bbz.png");
  background-size: 500px;
  background-position-x: 0px;
}

.eve-welcome-bean.mango {
  background-image: url("mango.png");
  background-size: 256px;
  background-position-x: 0px;
}

.eve-welcome-bean.bastion {
  background-image: url("bastion.png");
  background-size: 128px;
  background-position-x: 25px;
  background-position-y: 25px;
}

.eve-welcome-bean.default {
  background-image: url("../images/logo.png");
  background-size: 128px;
  background-position-x: 10px;
  background-position-y: 25px;
  opacity: 1;
}