/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import 'vars';
@import 'fonts/fonts';
@import 'beans/beans';
@import '~xterm/css/xterm.css';

/*
EVE brightens the borders and panel backgrounds whenever the window is focused. Elements and text don't change.
*/


::selection {
  background: rgba(200, 200, 200, 1); /* WebKit/Blink Browsers */
  margin-bottom: 5px
}

.eve-flex-horizontal {
  display: flex;
  flex-direction: row;
}

.main-window > .eve-window-container > .eve-window {
  background-color: $secondary-color !important;
}

@keyframes text-blink {
  50% {
    color: $link-hover;
    filter: drop-shadow(0px -1px 1px $link)
    drop-shadow(0px 1px 1px $link);
  }
}

.eve-link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: $link;
  font-weight: bold;
}

.eve-link:hover {
  color: $link-hover;
  text-decoration: underline;
}

.eve-scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

.eve-scrollbar::-webkit-scrollbar
{
  width: 6px;
  background-color: $panel-background;
}

.eve-scrollbar::-webkit-scrollbar-thumb
{
  background-color: $button-color;
  box-shadow: inset 0 0 2x $inner-glow;
}

.eve-scrollbar::-webkit-scrollbar-thumb:hover
{
  background-color: $button-color-active;
  box-shadow: inset 0 0 2x $inner-glow;
}

.eve-credits {
  width: 100%;
}

.eve-credits > tr > td:first-child {
  text-align: right;
  width: 40%;
  font-weight: bold;
}

.eve-credits-container {
  overflow-y: auto;
  height: calc(100vh - 75px);
  padding: 5px;
}

.new-version-alert {
  animation: text-blink 0.8s linear infinite;
  text-align: right;
  color: $link;
}

.new-version-alert:hover {
  animation: none;
  color: $link-hover;
  text-decoration: underline;
}

.eve-text-entry {
  border-top: 1px solid $border;
  border-left: 1px solid $border;
  border-right: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  background-color: $input-color;
  color: $text-primary;
  font-family: "Eve Sans Neue";
  font-size: 12px;
  letter-spacing: 0.17px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 0px;
  margin: 0;
  margin-right: 3px;
  flex-grow: 1;
  box-sizing: border-box;
}

.eve-text-entry:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.eve-range-slider {
  border: 1px solid $border-active;
  height: 8px;
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
}
.eve-range-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px;
  border-radius: 0px;
  border: 0px;
}

.eve-range-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background: $button-color-active;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.eve-table {
  background-color: adjust-color($input-color, $alpha: $transparency);
  width: 100%;
  border: 1px solid adjust-color($border-light2, $alpha: $transparency);
  border-collapse: collapse;
}

.eve-table td {
  padding-left: 4px;
  padding-top: 4px;
  border-left: 1px solid adjust-color($border-light2, $alpha: $transparency);
  border-right: 1px solid adjust-color($border-light2, $alpha: $transparency);
}

.eve-table th {
  padding-left: 4px;
  padding-top: 3px;
  font-size: 11px;
  border: 1px solid adjust-color($border-light2, $alpha: $transparency);
}

.eve-table tbody tr.selected {
  background-color: adjust-color($input-color, $lightness: 40%, $saturation: 25%, $alpha: $transparency);
}
.eve-table tbody tr:hover {
  background-color: adjust-color($input-color, $lightness: 30%, $alpha: $transparency);
}

html {
  overflow: hidden;
}

@keyframes ricardoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ricardo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("images/ricardo.gif");
  background-repeat: repeat-x;
  background-position-y: bottom;
  animation: ricardoFade ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 20s;
  opacity: 0;
  z-index: -99999;
}

.eve-window-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eve-button {
  background-color: $button-color;
  color: $text-inactive;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  display: inline-block;
  border: 1px solid $border-light;
  box-shadow: inset 0 0 4px $inner-glow;
  font-size: 11px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  margin-right: 4px;
  flex-shrink: 1;
}

.eve-button:hover {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
}

.eve-panic-button {
  background-color: $button-color;
  color: $text-inactive;
  padding-top: 13px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  display: inline-block;
  border: 1px solid $border-light;
  box-shadow: inset 0 0 4px $inner-glow;
  font-size: 24px;
  font-stretch: expanded;
  font-weight: bold;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
}

@keyframes panic-hover-blink {
  50% {
    background-color: rgba(200, 40, 40, 1);
    border: 1px solid rgba(200, 40, 40, 1);
  }
}

@keyframes cancel-hover-blink {
  50% {
    background-color: rgba(40, 200, 40, 1);
    border: 1px solid rgba(40, 200, 40, 1);
  }
}

.eve-panic-button:hover {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
  animation: panic-hover-blink 1s linear infinite;
}

.eve-panic-button.alerting {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
  animation: panic-hover-blink 0.5s linear infinite;
}

.eve-panic-button.confirmed {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
  animation: panic-hover-blink 0.5s ease-in-out infinite;
}


.eve-panic-button.confirmed:hover {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
  animation: cancel-hover-blink 0.5s linear infinite;
}

.eve-panic-button.cancelling {
  color: $text-active;
  background-color: $button-color-active;
  border: 1px solid $border-light2;
  animation: cancel-hover-blink 1s linear infinite;
}

.eve-panel {
  background-color: $panel-background;
  padding: 7px;
  margin: 3px;
  border: 1px solid $border;
  flex-grow: 1;
  transition: border 0.3s linear, background-color 0.3s linear;
}

.child-window-container {
  width: 100%;
  height: 100%;
}

.eve-panel.focused {
  background-color: $panel-background-active;
  border: 1px solid $border-active;
}

@keyframes secure-blink {
  50% {
    background-color: rgba(40, 200, 40, 0.5);
  }
}

.eve-panel.secure {

  background-color: rgba(40, 200, 40, 0.8);
  animation: secure-blink 1s linear infinite;
}

.eve-overlay {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $text-primary;
  font-family: "Eve Sans Neue";
  font-size: 12px;
  letter-spacing: 0.17px;

  user-select: none;
}

.eve-overlay-menu {
  position: absolute;
  background-color: $window-background;
  border: 1px solid $border-active;
  transition: width 0.2s linear, height 0.2s linear, transform 0.2s linear;
  overflow: hidden;
}

.eve-overlay-menu.collapsed {
  width: 30px;
  height: 30px;
}

.eve-overlay-menu.expanded {
  width: 300px;
  height: 300px;
}

.eve-overlay-menu.dragging {
  transform: scale(1.2);
}

.eve-overlay-menu-contents {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.1s linear 0.1s;
  overflow: hidden;
  height: 300px;
}

.eve-overlay-menu-buttons {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
}

.eve-overlay-menu.collapsed > .eve-overlay-menu-contents {
  opacity: 0;
  transition: opacity 0.1s linear 0s; /* dont delay transitioning to zero here, hide the buttons scaling */
}

.eve-overlay-menu-title {
  display: block;
  flex-shrink: 1;
  padding: 5px;
  text-align: center;
}

.eve-minimized-windows-list {
  margin: 2px;
  border: 1px solid $border;
  flex-grow: 1;
  background-color: $panel-background;
  overflow-x: hidden;
}


.eve-minimized-window {
  display: block;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  background-color: adjust-color($panel-background, $lightness: 30%);
  border-bottom: 1px solid $border;
}

.eve-minimized-window-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px;
}

.eve-minimized-window:nth-child(odd) {
  background-color: adjust-color($panel-background, $lightness: 40%)
}

.eve-minimized-window:hover {
  background-color: adjust-color($panel-background, $lightness: 60%)
}

.eve-minimized-window-button {
  line-height: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.eve-minimized-window-button.close {
  color: rgba(255, 150, 150, 255);
}

.eve-minimized-window-button.restore {

}

.eve-minimized-window-button:hover {
  filter: drop-shadow(0px -1px 1px $outer-glow)
  drop-shadow(0px 1px 1px $outer-glow)
  drop-shadow(0px 2px 2px $outer-glow);
}

.eve-overlay-menu-expander {
  width: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  z-index: 999;
}

.eve-overlay-menu-expander-icon {
  font-size: 16px;
  margin-top: 6px;
  transition: filter 0.2s linear;
}

.eve-overlay-menu-expander-icon:hover {
  filter: drop-shadow(0px -1px 1px $outer-glow)
  drop-shadow(0px 1px 1px $outer-glow)
  drop-shadow(0px -3px 3px $outer-glow)
  drop-shadow(0px 3px 3px $outer-glow);
}

.eve-window {
  display: flex;
  flex-direction: column;

  background-color: $window-background;
  border: 1px solid $border;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: $text-primary;
  font-family: "Eve Sans Neue";
  font-size: 12px;
  letter-spacing: 0.17px;

  user-select: none;
  height: 100%;

  overflow: hidden;
}


.eve-window.focused {
    border: 1px solid $border-active;
}

.eve-window-contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.eve-window-titlebar {
  flex-shrink: 1;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
}

.eve-window-titlebar-title {
  float: left;
}

.eve-window-titlebar-button {
  float: right;
  display: inline-block;
  transition: text-shadow 0.1s linear;
  margin-left: 8px;
}

.eve-window-titlebar-button:hover {
  text-shadow: 0px 0px 1px $outer-glow,
               0px 0px 2px $outer-glow,
               0px 0px 3px $outer-glow,
               0px 0px 4px $outer-glow,
               0px 0px 5px $outer-glow,
               0px 0px 6px $outer-glow,
               0px 0px 7px $outer-glow,
               0px 0px 8px $outer-glow;
}

.eve-border-corner-top-left {
  border-left: 1px solid $border-corner;
  border-top: 1px solid $border-corner;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.eve-border-corner-bottom-left {
  border-left: 1px solid $border-corner;
  border-bottom: 1px solid $border-corner;
  height: 2px;
  width: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.eve-border-corner-bottom-right {
  border-right: 1px solid $border-corner;
  border-bottom: 1px solid $border-corner;
  height: 2px;
  width: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.eve-border-corner-top-right {
  border-right: 1px solid $border-corner;
  border-top: 1px solid $border-corner;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.eve-typography,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
