.tooltip {
  background-color: black !important;
  padding: 4px 8px 4px 8px !important;
  filter: drop-shadow(0px 4px 4px black);
  font-size: 12px !important;
  font-weight: normal !important;
  font-stretch: condensed !important;
  border-radius: 0px;
  border: 1px solid #363636 !important;
  color: white;
  font-family: "Eve Sans Neue";
  font-size: 12px;
  letter-spacing: 0.17px;
  text-align: left !important;
}