@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-regular-webfont.woff2);
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-bold.otf);
  font-weight: bold;

}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-italic.otf);
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-bolditalic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensed.otf);
  font-stretch: condensed;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensedbold.otf);
  font-stretch: condensed;
  font-weight: bold;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condenseditalic.otf);
  font-stretch: condensed;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensedbolditalic.otf);
  font-stretch: condensed;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expanded.otf);
  font-stretch: expanded;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandedbold.otf);
  font-stretch: expanded;
  font-weight: bold;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandeditalic.otf);
  font-stretch: expanded;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandedbolditalic.otf);
  font-stretch: expanded;
  font-weight: bold;
  font-style: italic;
}
