@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-regular-webfont.woff2);
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-bold-webfont.woff2);
  font-weight: bold;

}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-italic-webfont.woff2);
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-bolditalic-webfont.woff2);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensed-webfont.woff2);
  font-stretch: condensed;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensedbold-webfont.woff2);
  font-stretch: condensed;
  font-weight: bold;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condenseditalic-webfont.woff2);
  font-stretch: condensed;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-condensedbolditalic-webfont.woff2);
  font-stretch: condensed;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expanded-webfont.woff2);
  font-stretch: expanded;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandedbold-webfont.woff2);
  font-stretch: expanded;
  font-weight: bold;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandeditalic-webfont.woff2);
  font-stretch: expanded;
  font-style: italic;
}

@font-face {
  font-family: "Eve Sans Neue";
  src: url(evesansneue-expandedbolditalic-webfont.woff2);
  font-stretch: expanded;
  font-weight: bold;
  font-style: italic;
}
