.container {
  height: 100%;
  width: 100%;
}

.container > * {
  height: 100%;
  width: 100%;
}

.container > * > * {
  height: 100%;
}

.container > * > * > * {
  height: 100%;
}

.container > * > * > * > * {
  height: 100%;
}